<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Berger</key>
	<string>Berger.jpg</string>
	<key>Collie</key>
	<string>Collie.jpeg</string>
	<key>Dachshund</key>
	<string>Dachshund.jpg</string>
	<key>Dalmatian</key>
	<string>Dalmatian.jpeg</string>
	<key>Pug</key>
	<string>Pug.jpg</string>
	<key>Dobermann</key>
	<string>Dobermann.jpg</string>
	<key>Pitbull</key>
	<string>Pitbull.jpg</string>
	<key>Husky</key>
	<string>Husky.jpeg</string>
	<key>Golden Retriever</key>
	<string>Golden Retriever.jpg</string>
	<key>Chihuahua</key>
	<string>Chihuahua.jpg</string>
</dict>
</plist>
